body{
    background: #eeeeee;
}

.makeStyles-button-148 {
    color: #FFF;
    border: none;
    cursor: pointer;
    margin: .3125rem 1px;
    padding: 12px 30px;
    position: relative;
    font-size: 12px;
    min-width: auto;
    box-shadow: 0 2px 2px 0 rgba(153, 153, 153, 0.14), 0 3px 1px -2px rgba(153, 153, 153, 0.2), 0 1px 5px 0 rgba(153, 153, 153, 0.12);
    min-height: auto;
    text-align: center;
    transition: box-shadow 0.2s cubic-bezier(0.4, 0, 1, 1), background-color 0.2s cubic-bezier(0.4, 0, 0.2, 1);
    font-weight: 400;
    line-height: 1.42857143;
    white-space: nowrap;
    will-change: box-shadow, transform;
    touch-action: manipulation;
    border-radius: 3px;
    letter-spacing: 0;
    text-transform: uppercase;
    vertical-align: middle;
    background-color: #999;
}

.makeStyles-mainPanel-2 {
    float: right;
    width: 100%;
    overflow: auto;
    position: relative;
    max-height: 100%;
    transition: all 0.33s cubic-bezier(0.685, 0.0473, 0.346, 1);
    overflow-scrolling: touch;
}

.ps {
    overflow: hidden !important;
    overflow-anchor: none;
    -ms-overflow-style: none;
    touch-action: auto;
    -ms-touch-action: auto;
}



.MuiAppBar-colorPrimary {
    color: #fff;
}

.MuiAppBar-relative {
    top: 0;
    left: auto;
    right: 0;
    position: relative;
}

.makeStyles-container-126 {
    min-height: 50px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
}

@media (min-width: 960px){
    .makeStyles-mainPanel-2 {
        width: calc(100% - 260px);
    }
}



.makeStyles-button-148 {
    color: #FFF;
    border: none;
    cursor: pointer;
    margin: .3125rem 1px;
    padding: 12px 30px;
    position: relative;
    font-size: 12px;
    min-width: auto;
    box-shadow: 0 2px 2px 0 rgba(153, 153, 153, 0.14), 0 3px 1px -2px rgba(153, 153, 153, 0.2), 0 1px 5px 0 rgba(153, 153, 153, 0.12);
    min-height: auto;
    text-align: center;
    transition: box-shadow 0.2s cubic-bezier(0.4, 0, 1, 1), background-color 0.2s cubic-bezier(0.4, 0, 0.2, 1);
    font-weight: 400;
    line-height: 1.42857143;
    white-space: nowrap;
    will-change: box-shadow, transform;
    touch-action: manipulation;
    border-radius: 3px;
    letter-spacing: 0;
    text-transform: uppercase;
    vertical-align: middle;
    background-color: #999;
}

.makeStyles-transparent-157, .makeStyles-transparent-157:focus, .makeStyles-transparent-157:hover {
    color: inherit;
    background: transparent;
    box-shadow: none;
    outline: none;
}


.makeStyles-title-128 {
    margin: 0;
    font-size: 18px;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-weight: 300;
    line-height: 30px;
    border-radius: 3px;
    letter-spacing: unset;
    text-transform: none;
    text-decoration: none;
}

.makeStyles-appBar-125 {
    color: #555555;
    width: 100%;
    border: 0;
    display: block;
    padding: 10px 0;
    z-index: 1029;
    position: relative;
    box-shadow: none;
    min-height: 50px;
    transition: all 150ms ease 0s;
    padding-top: 10px;
    border-bottom: 0;
    border-radius: 3px;
    margin-bottom: 0;
    background-color: transparent;
}

.MuiToolbar-root {
    display: flex;
    position: relative;
    align-items: center;
}

.makeStyles-manager-195 {
    display: inline-block;
}

.makeStyles-justIcon-164 {
    width: 41px;
    height: 41px;
    font-size: 12px;
    min-width: 41px;
    padding-left: 12px;
    padding-right: 12px;
}

.makeStyles-transparent-157, .makeStyles-transparent-157:focus, .makeStyles-transparent-157:hover {
    color: inherit;
    background: transparent;
    box-shadow: none;
}

.MuiButton-label {
    width: 100%;
    display: inherit;
    align-items: inherit;
    justify-content: inherit;
} 

.MuiPaper-elevation1 {
    box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.2), 0px 1px 1px 0px rgba(0,0,0,0.14), 0px 2px 1px -1px rgba(0,0,0,0.12);
}

.MuiPaper-rounded {
    border-radius: 4px;
}

.MuiPaper-root {
    color: rgba(0, 0, 0, 0.87);
    transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    background-color: #fff;
}



.MuiList-root {
    margin: 0;
    padding: 0;
    position: relative;
    list-style: none;
}

.MuiList-padding {
    padding-top: 8px;
    padding-bottom: 8px;
}


.MuiSvgIcon-root {
    fill: currentColor;
    width: 1em;
    height: 1em;
    display: inline-block;
    font-size: 1.5rem;
    transition: fill 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    flex-shrink: 0;
    user-select: none;
}

.makeStyles-button-148 svg {
    top: 0;
    width: 18px;
    height: 18px;
    display: inline-block;
    position: relative;
    margin-right: 4px;
    vertical-align: middle;
}

.makeStyles-justIcon-164 svg, .makeStyles-justIcon-164 .material-icons {
    margin-right: 0px;
}
@media (min-width: 960px){
    .PrivateHiddenCss-mdUp-36 {
        display: none;
    }
}

.makeStyles-flex-127 {
    flex: 1;
}

.makeStyles-linkText-184 {
    margin: 0px;
    z-index: 4;
    font-size: 14px;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-weight: 300;
    line-height: 1.5em;
}


.MuiButtonBase-root {
    color: inherit;
    border: 0;
    cursor: pointer;
    margin: 0;
    display: inline-flex;
    outline: 0;
    padding: 0;
    position: relative;
    align-items: center;
    user-select: none;
    border-radius: 0;
    vertical-align: middle;
    -moz-appearance: none;
    justify-content: center;
    text-decoration: none;
    background-color: transparent;
    -webkit-appearance: none;
    -webkit-tap-highlight-color: transparent;
}

.MuiListItem-root {
    width: 100%;
    display: flex;
    position: relative;
    box-sizing: border-box;
    text-align: left;
    align-items: center;
    padding-top: 8px;
    padding-bottom: 8px;
    justify-content: flex-start;
    text-decoration: none;
}

.MuiListItem-gutters {
    padding-left: 16px;
    padding-right: 16px;
}

.MuiListItem-button {
    transition: background-color 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}

.MuiMenuItem-root {
    width: auto;
    overflow: hidden;
    font-size: 1rem;
    box-sizing: border-box;
    min-height: 48px;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-weight: 400;
    line-height: 1.75;
    padding-top: 4px;
    white-space: nowrap;
    letter-spacing: 0.00938em;
    padding-bottom: 4px;
}

.MuiMenuItem-gutters {
    padding-left: 16px;
    padding-right: 16px;
}

.makeStyles-dropdownItem-189 {
    clear: both;
    color: #333;
    height: unset;
    margin: 0 5px;
    display: block;
    padding: 10px 20px;
    font-size: 13px;
    min-height: unset;
    transition: all 150ms linear;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-weight: 400;
    line-height: 1.42857143;
    white-space: nowrap;
    -o-transition: all 150ms linear;
    border-radius: 2px;
    -ms-transition: all 150ms linear;
    -moz-transition: all 150ms linear;
    -webkit-transition: all 150ms linear;
}

.hidden{
    visibility: hidden;
}